@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@1,900&display=swap');

*{margin:0; padding:0; font-family: 'Lato', sans-serif;}

header{
  font-family: 'Lato', sans-serif;
  color: white;
  text-align: center;
  margin-top: 20%;
  height: 60vh;
}

#mathieu{
    font-size:7em;
}


#dev{
  padding-top: 0.3em;
    font-size: 2em;
}

#title_pres{
  border-bottom: #ca4d4d solid 22px;
  width: 462px;
  line-height: 21px;
  font-size: 3.5em;
}

.text-dark {
    color: #bb7a7a !important;
}
.icon-bg {
  height: 100px;
width: 100px;
line-height: 100px;
text-align: center;
}

h4{
  color: #bb7a7a !important;
  font-size: 1.3em;
}

section{
  margin-top: 18em;
}

#name_skill{
color: #a8a290 !important;
}
.icone-skill{
  color: #ceb657e3;
}

.section-title {
  margin-bottom: 80px;
  color: white;
  font-size: 4em;
  border-bottom: #ca4d4d solid 19px;
  width: 302px;
  line-height: 26px;
  margin-left: auto;
  margin-right: auto;
}

.section-title-exp {
  margin-bottom: 80px;
  color: white;
  font-size: 4em;
  border-bottom: #d5b126 solid 19px;;
  width: 302px;
  line-height: 26px;
  margin-left: auto;
  margin-right: auto;
}

.section-title-exp3 {
  margin-bottom: 80px;
  color: white;
  font-size: 4em;
  border-bottom: #55cebd solid 19px;
  width: 302px;
  line-height: 26px;
  margin-left: auto;
  margin-right: auto;
}


#bloc_de_presentation{
  width: 700px;
  font-size: 20px;
  font-family: 'Jost', sans-serif;
}
.icone{
  margin-left: -98%
}
ul{
list-style-type: none;
}
i{
  color: #7b6e7bc7;
}
.box {
  width: 44em;
  height: 250px;
  position: relative;
  display: flex;
  justify-content: center;
  flex-direction: column;
  margin-left: auto;
  margin-right: auto;
}

   .title {
     width: 100%;
     position: relative;
     display: flex;
     align-items: center;
     height: 50px;

     .block {
       width: 0%;
       height: inherit;
       background: #ffb510;
       position: absolute;
       animation: mainBlock 2s cubic-bezier(.74, .06, .4, .92) forwards;
       display: flex;
     }

     h1 {
       color: #fff;
       font-size: 7em;
       -webkit-animation: mainFadeIn 2s forwards;
       -o-animation: mainFadeIn 2s forwards;
       animation: mainFadeIn 2s forwards;
       animation-delay: 1.6s;
       opacity: 0;
       display: flex;
       align-items: baseline;
       position: relative;

       span {
         width:0px;
         height: 0px;
         -webkit-border-radius: 50%;
         -moz-border-radius: 50%;
         border-radius: 50%;

         background: #ffb510;
         -webkit-animation: load 0.6s cubic-bezier(.74, .06, .4, .92) forwards;
         animation: popIn 0.8s cubic-bezier(.74, .06, .4, .92) forwards;
         animation-delay: 2s;
         margin-left: 5px;
         margin-top: -10px;
         position: absolute;
         bottom: 13px;
         right: -12px;

       }
     }
   }

   .role {
     width: 100%;
     position: relative;
     display: flex;
     align-items: center;
     height: 30px;
     margin-top: 38px;

     .block {
       width: 0%;
       height: inherit;
       background: #e91e63;
       position: absolute;
       animation: secBlock 2s cubic-bezier(.74, .06, .4, .92) forwards;
       animation-delay: 2s;
       display: flex;
     }

     p {
       animation: secFadeIn 1s forwards;
           animation-delay: 0s;
       animation-delay: 3.2s;
       opacity: 0;
       font-weight: 400;
       font-family: 'Lato';
       color: #fff;
       font-size: 19px;
       text-transform: uppercase;
       letter-spacing: 5px;
     }
   }







@keyframes mainBlock {
 0% {
   width: 0%;
   left: 0;

 }
 50% {
   width: 100%;
   left: 0;

 }
 100% {
   width: 0;
   left: 100%;
 }
}

@keyframes secBlock {
 0% {
   width: 0%;
   left: 0;

 }
 50% {
   width: 100%;
   left: 0;

 }
 100% {
   width: 0;
   left: 100%;
 }
}

@keyframes mainFadeIn {
 0% {
   opacity: 0;
 }
 100% {
   opacity: 1;
 }
}


@keyframes popIn {
 0% {
   width: 0px;
   height: 0px;
   background: #e9d856;
   border: 0px solid #ddd;
   opacity: 0;
 }
 50% {
   width: 10px;
   height: 10px;
   background: #e9d856;
   opacity: 1;
   bottom: 45px;
 }
  65% {
     width: 7px;
   height: 7px;
     bottom: 0px;
     width: 15px
  }
  80% {
     width: 10px;
   height: 10px;
     bottom: 20px
  }
 100% {
   width: 7px;
   height: 7px;
   background: #e9d856;
   border: 0px solid #222;
   bottom: 13px;

 }
}

@keyframes secFadeIn {
 0% {
   opacity: 0;
 }
 100% {
   opacity: 0.5;
 }
}





@keyframes top {
 0% {
   opacity: 0;
    bottom: -80px
 }
 100% {
   opacity: 1;
    bottom: 0px

 }
}

@keyframes icon {
 0% {
   opacity: 0;
    transform: scale(0.0);
 }
  50% {
     opacity: 1;
    transform: scale(1.3) rotate(-02deg);
  }
 100% {
   opacity: 1;
    bottom: 0px;
 }
}

.main_portfolio{
  margin-top: 7em;
  margin-bottom: 7em;
  display: flex;
    width:  150em;
}

.card{
  margin-right: 15em;
}
#rotate{
	transform:rotate(7deg);
  -ms-transform:rotate(90deg); /* IE 9 */
  -moz-transform:rotate(90deg); /* Firefox */
  -webkit-transform:rotate(90deg); /* Safari and Chrome */
  -o-transform:rotate(90deg); /* Opera */
  height: 44px;
  border: none;
  border-radius: 45px;
  padding: 0 18px;
  font-size: 18px;
  margin-top: 20px;
  background-color: #ca4d4dc7;
  color: #eee7e7;

}


.up:hover,
.up:focus {
  box-shadow: inset 0 -3.25em 0 0 var(--hover);
}


input:hover{box-shadow:0px 0px 4px #fff;}
input:active{top:1px;}

body{background-color:#222;}

.button-container {
	display: grid;
	grid-gap: 40px;
	grid-template-columns: repeat(3,1fr);
	justify-items: center;
	width: 400px;
	padding: 40px 0;
	margin: 0 auto;
}





/* Cards */
.card-column {
  width: 50%;
  float: left;
  padding: 4%;
  box-sizing: border-box;
}

.column-1 {
  padding-top: 100px;
}

.card {
  width: 135%;
  max-width: 635px;
  margin-left: auto;
  margin-right: auto;
  position: relative;
  background: #EB5160;
      background-color: rgb(235, 81, 96);
  color: #fff;
  cursor: pointer;
  margin-bottom: 12em;
}

.border {
  position: absolute;
  width: 100%;
  height: 100%;
  padding: 6px;
  border: 1px solid #fff;
  opacity: 1.2;
  left: -9px;
  top: -9px;
}

.card h1 {
  position: relative;
  padding: 253px 0px 24px 0px;
  width: 90%;
}

.card > img {
  width: 37em;
  position: absolute;
  top: -11%;
  left: -7%;
}

.card-color-0 {
  background-color: #EB5160;
}

.card-color-1 {
  background-color: #8F3985;
}

.card-color-2 {
  background-color: #8DAA91;
}

.card-color-3 {
  background-color: #888DA7;
}

/* The cover (expanding background) */
.cover {
  position: fixed;
  background: #EB5160;
  z-index: 100;
  transform-origin: 50% 50%;
}

/* The open page content */
.open-content {
  width: 100%;
  z-index: 110;
  opacity: 0;
  pointer-events: none;
}

.open-content img {
  position: relative;
  width: 90%;
  margin-left: 3%;
  margin-top: 20px;
  z-index: 5;
}

.open-content .text {
  background: #fff;
  margin-top: -56%;
  padding: 60% 5% 5% 5%;
  width: 80%;
  margin-left: 5%;
  margin-bottom: 5%;
}

.open-content .text h1, .open-content .text p {
  max-width: 700px;
  margin-left: auto;
  margin-right: auto;
}

.close-content {
  display: block;
  position: absolute;
  right: 12px;
  top: 12px;
  width: 30px;
  height: 30px;
}

.close-content span {
  background: #222;
  width: 30px;
  height: 6px;
  display: block;
  position: absolute;
  top: 14px;
}

.x-1 {
  transform: rotate(45deg);
}

.x-2 {
  transform: rotate(-45deg);
}

/*
** Transitions
*/

.card {
  transition: opacity 200ms linear 320ms, transform 200ms ease-out 320ms;
}

.border {
  transition: opacity 200ms linear, transform 200ms ease-out;
}

.card img {
  transition: opacity 200ms linear 0ms, transform 200ms ease-in 0ms;
}

.card h1 {
  transform: translate3d(20%, 0px, 0px);
  transition: opacity 200ms linear 120ms, transform 200ms ease-in 120ms;
}

/* Clicked card */
.card.clicked img {
  transform: translate3d(0px, -40px, 0px);
  opacity: 0;
}

.card.clicked .border {
  opacity: 0;
  transform: scale(1.3);
}

.card.out, .card.out img {
  transform: translate3d(0px, -40px, 0px);
  opacity: 0;
}

.card.out h1, .card.clicked h1 {
  transform: translate3d(20%, -40px, 0px);
  opacity: 0;
}

.cover {
  transition: transform 300ms ease-in-out;
}

.open-content {
  transition: opacity 200ms linear 0ms;
}

.open-content.open {
  opacity: 1;
  pointer-events: all;
  transition-delay: 1000ms;
}

/*
** Media Queries
*/

@media screen and (max-width: 600px) {
  .card-column {
    width: 90%;
  }

  .column-1 {
    padding-top: 0px;
  }

  .open-content img {
    margin-top: 40px;
  }
}

.main{
  display: inherit;
}

.overlay{
  height: 100%;
   width: 0;
   position: fixed;
   z-index: 1000;
   top: 0;
   left: 0;
   background-color: #FF6F61;
   overflow-x: hidden;
   transition: 0.8s;
}

.overlay-content {
  position: relative;
  top: 25%;
  width: 100%;
  text-align: center;
  margin-top: 30px;
}

.overlay h4 {
  padding: 8px;
  font-size: 53px;
  color: white !important;
  display: block;
  transition: 0.3s;
  font-weight: 500;
}

#content_text{
  color: #dad7df;
  font-size: 1.4em;
  margin-top: 1.8em;
  width: 68em;
  margin-left: auto;
  margin-right: auto;
}

.overlay .closebtn {
  position: absolute;
  top: 20px;
  right: 45px;
  font-size: 60px;
}

@media screen and (max-height: 450px) {
  .overlay a {font-size: 20px}
  .overlay .closebtn {
    font-size: 40px;
    top: 15px;
    right: 35px;
  }
}

.embed-responsive{
  max-width: 55em;
  margin-left: auto;
  margin-right: auto;
  margin-top: 2.2em;
}

.embed-responsive-item{
  margin-left: auto;
  margin-right: auto;
}

#video_content{
    width: 30em;
}

footer{
  margin-top: -300px;
}

.social-btns .btn,
.social-btns .btn:before,
.social-btns .btn .fab  {
  -webkit-transition: all 0.35s;
  transition: all 0.35s;
  -webkit-transition-timing-function: cubic-bezier(0.31, -0.105, 0.43, 1.59);
          transition-timing-function: cubic-bezier(0.31, -0.105, 0.43, 1.59);
}

.social-btns .btn,
.social-btns .btn:before,
.social-btns .btn .far  {
  -webkit-transition: all 0.35s;
  transition: all 0.35s;
  -webkit-transition-timing-function: cubic-bezier(0.31, -0.105, 0.43, 1.59);
          transition-timing-function: cubic-bezier(0.31, -0.105, 0.43, 1.59);
}

.social-btns .btn:before {
  top: 90%;
  left: -110%;
}
.social-btns .btn .fab {
  -webkit-transform: scale(0.8);
          transform: scale(0.8);
}

.social-btns .btn .far {
  -webkit-transform: scale(0.8);
          transform: scale(0.8);
}

.social-btns .btn.facebook:before {
  background-color: #3b5998;
}
.social-btns .btn.facebook .fab{
  color: #3b5998;
}
.social-btns .btn.twitter:before {
  background-color: #3cf;
}
.social-btns .btn.twitter .fab{
  color: #3cf;
}
.social-btns .btn.google:before {
  background-color: #dc4a38;
}
.social-btns .btn.google .fab{
  color: #dc4a38;
}
.social-btns .btn.dribbble:before {
  background-color: #cea3a3;
}
.social-btns .btn.dribbble{
  color: black;
}
.social-btns .btn.skype:before {
  background-color: #00aff0;
}
.social-btns .btn.skype .fab{
  color: #00aff0;
}
.social-btns .btn:focus:before,
.social-btns .btn:hover:before {
  top: -10%;
  left: -10%;
}
.social-btns .btn:focus .fab,
.social-btns .btn:hover .fab {
  color: #fff;
  -webkit-transform: scale(1);
          transform: scale(1);
}

.social-btns .btn:focus .far,
.social-btns .btn:hover .far {
  color: #fff;
  -webkit-transform: scale(1);
          transform: scale(1);
}

.social-btns {
  height: 90px;
  margin: auto;
  font-size: 0;
  text-align: center;
}
.social-btns .btn {
  display: inline-block;
  background-color: #fff;
  width: 90px;
  height: 90px;
  line-height: 90px;
  margin: 0 10px;
  text-align: center;
  position: relative;
  overflow: hidden;
  border-radius: 28%;
  box-shadow: 0 5px 15px -5px rgba(0,0,0,0.1);
  opacity: 0.99;
}
.social-btns .btn:before {
  content: '';
  width: 120%;
  height: 120%;
  position: absolute;
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
}
.social-btns .btn .fab {
  font-size: 38px;
}

.social-btns .btn .far {
  font-size: 38px;
}





.button {
  flex: 1 1 auto;
  margin: 9em;
  padding: 20px;
  border: 2px solid #f7f7f7;
  text-align: center;
  text-transform: uppercase;
  position: relative;
  overflow: hidden;
  transition: .3s;
  width: 25em;
  color: white;
  background: #ca4d4d61;
  margin-left: auto;
  margin-right: auto;
  border-radius: 50px;
  &:after {
    position: absolute;
    transition: .3s;
    content: '';
    width: 0;
    left: 50%;
    bottom: 0;
    height: 3px;
    background: #f7f7f7;
  }


  &:nth-of-type(5):after {
    height: 120%;
    left: -10%;
    transform: skewX(15deg);
    z-index: -1;
  }
  &:hover {
    cursor: pointer;
    &:after {
      width: 100%;
      left: 0;
    }



    // &:nth-of-type(6) {
    //   flex-grow:3;
    // }
    // &:nth-of-type(6):after {
    //   width: 0%;
    // }

  }
}


.photo{
  background-image: url(IMG_20190531_211752.jpg);
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  border-radius: 43% 57% 62% 38% / 69% 54% 46% 31%;
  filter: grayscale(100%);
  width: 33vw;
  height: 65vh;
  margin-left: 8em;
  position: absolute;
  left: -28%;
  top: 39vh;
  transform: translateY(-50%);
  z-index: -2;

}

.main{
opacity: 0;
display: none;
z-index: -14;

}

.sombre{
  margin: 0;
padding: 0;
position: absolute;
top: 100vh;
left: 0;
height: 100%;
width: 100%;
background-image: radial-gradient(148px at 1771px 597px, transparent, black);
}




.call-to-action{
  height: 100vh;
}

#text_light{
color: white;
font-size: 1.3em;
padding-top: 12em;
}

.bloc_pres{
  margin-top: 8em;
}


.button_lumiere{
  margin: 9em;
    margin-right: 9em;
    margin-left: 9em;
padding: 20px;
border: 2px solid #f7f7f7;
text-align: center;
text-transform: uppercase;
position: relative;
overflow: hidden;
width: 25em;
color: white;
background: #393333;
margin-left: auto;
margin-right: auto;
border-radius: 50px;
}

.sombre{
  height: 110%;
}

@media screen and (max-width: 1450px) {

  #bloc_de_presentation{
    width: 600px;
  }

  .photo{
    margin-left: 14em;
  }

}

@media screen and (max-width: 1330px) {

  #bloc_de_presentation{
    width: 600px;
  }

  .photo{
    margin-left: 18em;
  }

  .bloc_pres{
    margin-top:6em;
  }
.card h1{
  font-size: 2em;
}
}

@media screen and (max-width: 1199px) {

  #title_pres{
    margin-left: auto;
    margin-right: auto;
  }

  #bloc_de_presentation{
    margin-left: auto;
    margin-right: auto;
    width: 800px;
  }

  .photo{
    transform: translateY(0);
    position: initial;
    margin-left: auto;
    margin-right: auto;
    margin-top: -4em;
    width: 63%;
    height: 76vh;
  }

  .bloc_pres{
    margin-top:8em;
  }

  .sombre{
    height: 170%;
  }


}



@media screen and (max-width: 1420px) {

.card{
  width: 100%;
  max-width: 544px;
}

.card > img{
  width: 33em;
}

.card h1{
  padding: 210px 6px 18px 0px;
}

}

@media screen and (max-width: 1100px) {

  .card {
      width: 95%;
      max-width: 431px;
  }

  .card > img {
    width: 27em;
}

.card h1 {
    padding: 181px 6px 13px 0px;
}

}

@media screen and (max-width: 920px) {
  .title h1{
    font-size: 6em;
  }

  .photo{
    width: 75%;
  }

  .card-column {
      width: 100%;
      float: none;

  }

  .card {
    width: 74%;
    max-width: 601px;
}

.card > img {
    width: 37em;
}

.card h1 {
    padding: 244px 0 11px 0px;
}

}

@media screen and (max-width: 880px) {

  #bloc_de_presentation{
    width: auto;
  }
  .bloc_pres{
    margin-top:10em;
  }

}

@media screen and (max-width: 705px) {

  #bloc_de_presentation{
    width: auto;
  }

  .bloc_pres{
    margin-top:12em;
  }

  .card {
    width: 74%;
    max-width: 601px;
}

.card > img {
    width: 30em;
}

.card h1 {
    padding: 197px 0 11px 0px;
}

}

@media screen and (max-width: 620px) {

  .title h1{
    font-size: 5em;
  }

  .bloc_pres{
    margin-top:17em;
  }

}


@media screen and (max-width: 520px) {

  .title h1{
    font-size: 3.6em;
  }

  .role p{
    font-size: 15px;
  }

  #title_pres{
    font-size: 3.1em;
    width: 410px;
  }

  .photo{
    height: 60vh;
  }


}

@media screen and (max-width: 460px) {

  #title_pres{
    font-size: 3.1em;
    width: 410px;
  }


}

@media screen and (max-width: 385px) {

  .title h1{
    font-size: 3.3em;
  }

  #title_pres{
    font-size: 2.8em;
  width: 358px;
  }

  .photo{
    height: 49vh;
      width: 90%;
  }

  .button{
    width: auto;
  }

  .button_lumiere{
    width: auto;
  }

  .bloc_pres{
    margin-top:20em;
  }



}
